<% #Pass notice to layout and remove from anothers views %>
<div class="w-fit max-w-full m-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1>Licenses</h1>
    <div class="flex">
      <%= link_to "Import", licenses_import_path, class: "button" %>
      <%= link_to "Generate", licenses_path, data: { turbo_method: "post" }, class: "button" %>
    </div>
  </div>

  <%= form_with method: "get", class: "pb-5" do %>
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
    <%= label_tag :search, "Search", class: "mb-2 text-sm font-medium text-gray-900 sr-only" %>
    <div class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </div>
      <%= search_field_tag :search, params[:q], name: :q, class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-red-800 focus:border-red-800" %>
      <%= button_tag "Search", name: nil, class: "text-white absolute right-2.5 bottom-2.5 bg-red-800 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2" %>
    </div>
  <% end %>

  <div id="licenses" class="overflow-auto w-full">
    <table class="border-collapse table-fixed text-sm max-w-full">
      <thead class="bg-slate-100 shadow-md">
      <tr>
        <% { 'Key' => '`key`', 'Created At' => 'created_at', 'Updated At' => 'updated_at', 'Customer' => 'customer_id', 'Status' => 'status' }.each do |text, search_text| %>
          <th class="border-b break-words font-medium text-center p-1 pt-6 py-3 text-left">
            <a href="<%= sort_url request.original_url, search_text %>" class="text-slate-400">
              <%= icon('fa-solid', sort_arrow(request.original_url, search_text)) %>
              <%= text %>
            </a>
          </th>
        <% end %>
        <th class="border-b break-words font-medium text-center p-1 pt-6 py-3 text-slate-400 text-left">
          Actions
        </th>
      </tr>
      </thead>
      <tbody class="bg-white">
      <% @licenses.each do |license| %>
        <tr>
          <% [license.key, license.created_at, license.updated_at, license.customer&.email].each do |data| %>
            <td class="border-b border-slate-100 break-words p-4 px-1 m-auto text-center text-slate-500"><%= data %></td>
          <% end %>
          <% #Show license background according to color
             if license.status == "active"
               bg = "bg-green-200"
             elsif license.status == "inactive"
               bg = "bg-red-200"
             else
               bg = "bg-blue-200"
             end
          %>
          <td class="border-b border-slate-100 break-words p-4 px-1 m-auto text-center text-slate-500">
          <span class="<%= bg %> block w-24 py-1 px-2 m-auto rounded hover:cursor-pointer" onclick="updateStatus(<%= license.id %>)">
          <%= license.status %>
          </span>
          </td>
          <td class="border-b border-slate-100 break-words p-4 px-1 m-auto text-center text-slate-500 w-0.5">
            <%= link_to "View", license_path(license), class: "button" %>
          </td>
        </tr>
      <% end %>
      </table>
  </div>

  <%= link_to "New license", new_license_path, class: "block text-right pt-6 mr-3 font-bold underline" %>

  <%= paginate @licenses %>
</div>

<%=
  #TODO Remover isso e passar para o turbo
%>
<script>
    async function updateStatus(id) {
        const data = new FormData()
        data.append("id", id)
        await fetch("/licenses/change_status", {
            method: "PUT",
            headers: {
                "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content,
            },
            body: data
        })
        window.location.reload() //FIXME
    }
</script>
