<%= form_with class: "contents", method: 'PUT' do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Account</h1>
  <div class="my-5">
    <%= form.label :username %>
    <%= form.text_field :username, value: @user.username, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, value: @user.email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    Hotmart webook link: <%= webhook_hotmart_url @user.client.token %>
  </div>

  <div class="my-5">
    <%= form.label :password, 'New password' %>
    <%= form.text_field :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :brand %>
    <%= form.text_field :brand, value: @user.client.brand, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <br>
  <br>
  <%= render 'clients/parameters', parameters: @parameters, form: form %>

  <div class="inline">
    <%= form.submit class: "button" %>
  </div>

<% end %>
